:root {
    --primary-color:#fcfdfd;
    --secondary-color:#FDE9EA;
    --third-color:#FFDDD6;
    --fourth-color:#F1B6AC;
    --primary-font:"Roboto", sans-serif;
  }

body {
    background-color: var(--primary-color);
    font-family: var(--primary-font);
}

P {
    padding: .90rem;
    text-align: justify;
    text-justify: inter-word;
}

.h1-center {
  text-align: center;
  padding: 5rem 0 1rem 0;
}

.underline {
  display: inline-block;
  position: relative;
  
}

.underline::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%; 
  height: 2px; 
  background-color: black; 
}

header {
    padding: .90rem;
}
/* Navbar Styles */
.hero {
  position: relative;
}

.logo {
  position:absolute;
  top: 18px;
  left: 10px;
  padding: 10px 20px;
}

.logo img {
    width: 50px;
}

.navbar {
  position:absolute;
  top: 18px;
  right: 10px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    transition: transform 0.3s ease;
    transform: translateX(100%);
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 200px;
    flex-direction: column;
    background:var(--fourth-color);
    padding: 50px 20px;
    z-index: 1;
  }
  
  .nav-links.active {
    transform: translateX(0);
  }
  
  .nav-links li {
    margin: 20px 0;
  }
  
  .nav-links a {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s ease;
    cursor: pointer;
  }

  .nav-links a:hover {
    color: gray; 
  }
  
  /* Hamburger Button */
  .hamburger {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    position: relative;
    z-index: 2;
  }
  
  .hamburger .bar {
    height: 3px;
    width: 100%;
    background: #000000;
    border-radius: 3px;
    transition: all 0.3s ease;
  }
  
  .hamburger.active {
    position: fixed;
    top: 20px;
    right: 20px;
  }
  
  .hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(9px, 8px);
    
  }
  
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }

.bg-color01 {
    background-color: var(--third-color);
}

.bg-color02 {
    background-color: var(--secondary-color);
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: .90rem;
    
  }
  
  .card {
    border: 1px solid #ddd;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .card img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .card p {
    padding: 2rem;
    font-size: 16px;
    color: #333;
  }

  .grid-about {
    grid-template-columns: 1fr;
  }

  .about-image img {
    height: 100%;
    object-fit: cover;
  } 
/* SLIDE */
.glide-container {
    padding-top: .90rem;
}
  .glide__slide img{
    width: 100%;
  }

  .glide__slide{
    filter: blur(6px);
    opacity: .7;
    transition: .3s linear;
  }
  
  .glide__slide--active{
    opacity: 1;
    filter: none;
    transform: scale(1.1);
  }
  
  .glide__slides{
    overflow: visible;
  }

  .footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-menu  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-block: 3rem;
    font-size: 20px;
  }

  .footer-menu a {
    transition: color 0.3s ease;
    font-weight: 600;
  }

  .footer-menu a:hover {
    color: gray; 
  }

  .icon {
    display: flex;
  }
  .icon ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
    padding-bottom: 3rem;
  }
  /* Responsive Design */
  @media (min-width: 768px) {
    .nav-links {
      position: static;
      flex-direction: row;
      transform: translateX(0);
      background: none;
      height: auto;
      width: auto;
      padding: 0;
    }
  
    .hamburger {
      display: none;
    }

    .grid-about {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .aboutme {
        padding: 3rem;
    }

    .bg-color01 {
        padding-bottom: 5rem;
    }

    .footer-contact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        padding: 3rem;
    }

    .footer-menu {
        display:flex;
        flex-direction: row;
        order: 2;
    }

    .icon {
        display: flex;
        align-self: flex-end;
    }
  }